{% spaceless %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title 'Zen Business' %}</title>

    <link href="{{ asset('Material/css/animate.min.css') }}" rel="stylesheet">
    <link href="{{ asset('Material/css/font/iconic/material-design-iconic-font.min.css') }}" rel="stylesheet">
    <link href="{{ asset('Material/css/app.min.css') }}" rel="stylesheet">

    <script src="{{ asset('Material/js/page-loader.min.js') }}"></script>
</head>

<body>

{{ include('AppBundle:Layout:loader.html.twig') }}
{{ include('AppBundle:Layout:header.html.twig') }}

<section id="main">
    {{ include('AppBundle:Layout:notifications.html.twig') }}
    {{ include('AppBundle:Layout:navigation.html.twig') }}

    {% block header '' %}
    {% block body '' %}

    {{ include('AppBundle:Layout:footer.html.twig') }}
</section>

<script src="{{ asset('Material/js/jquery-v2.1.4.min.js') }}"></script>
<script src="{{ asset('Material/js/bootstrap.min.js') }}"></script>
<script src="{{ asset('Material/js/app.min.js') }}"></script>
<script src="{{ asset('Material/js/plugins/collection-form/jquery.collection.js') }}"></script>

{% block javascript '' %}
</body>
</html>
{% endspaceless %}
