{% extends 'AppBundle::base.html.twig' %}

{% block title parent() ~ ' - ' ~ 'quotation-list.meta-title'|trans %}

{% block header %}
    <section id="content">
        <div class="content__header">
            <h2>Devis</h2>
        </div>
    </section>
{% endblock %}

{% block body %}
    <div class="card">
        <div class="card__header action-header">
            <div class="action-header__label">Liste des devis</div>
            <a href="{{ path('quotations_add') }}" class="btn btn--float"><i class="zmdi zmdi-plus"></i></a>
        </div>
        <div class="card__body m-t-30">
            <div class="table-responsive">
                <table class="table table-condensed">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Date</th>
                        <th>Référence</th>
                        <th>Client</th>
                        <th class="text-right">Montant</th>
                        <th class="text-right">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for quotation in quotations %}
                        <tr>
                            <td>{{ quotation.id }}</td>
                            <td>{{ quotation.date|date('d/m/Y') }}</td>
                            <td>{{ quotation.reference }}</td>
                            <td>{% if quotation.client.company %}{{ quotation.client.company }}{% else %}{{ quotation.client.name }}{% endif %}</td>
                            <td class="text-right">{{ quotation.amount|number_format(2, ',', ' ') }} €</td>
                            <td class="text-right">
                                <a class="btn btn--light">Détails</a>
                                <a target="_blank" href="{{ path('quotations_view', {reference: quotation.reference, _format: 'pdf'}) }}" class="btn btn-default">
                                    <i class="zmdi zmdi-download"></i>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
